body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none; 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  color: #000;

  background-color: #fff;
}

.main-navigation {
  line-height: 26px;
  color: #000;

  background-color: #fff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
}

.site-navigation a,
.site-navigation a:visited {
  color: #000;

}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item.active a{
  color: #766357;
}

.preview {

  background: #133d54 url(../img/background-photo.jpg) 0 0 no-repeat;
  /* не забыть про маску */
}

.attraction h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.attraction p {
  line-height: 26px;
  text-align: center;
  color: #333;
}

.feature-item {
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
}

.advices {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice-item {
  text-align: center;
  color: #000;
  background-color: #eeeeee;
}

.advices .advice-item {
  background-color: #fff;
}

.feature-item h3,
.advice-item h3,
.advice-item b {
  font-size: 21px;
  line-height: 21px;
}

.advice-item p {
  color: #333;
}

.booking {
  text-align: center;
  color: #000;
  background-color: #fff;
}

.booking b {
  font-size: 30px;
  line-height: 36px;
}

.booking p {
  line-height: 24px;
  color: #333;
}

.search-hotel-link,
.search-hotel-link:visited {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;

  background-color: #766357;
}

.search-hotel-link:hover,
.search-hotel-link:focus {
  background-color: #604e43;
}

.search-hotel-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel {
  text-align: left;
  color: #000;

  background-color: #fff;
}

.search-hotel label {
  line-height: 14px;
}

.search-hotel input[type="text"] {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: inherit;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  box-shadow: none;
}

.search-hotel input[type="text"]:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-hotel input[type="text"]:focus {
  background-color: #fff;
  border: 2px solid #fff;
}

.search-hotel button[type="submit"] {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;

  background-color: #81b3d2;
  border:none;
}

.search-hotel button[type="submit"]:hover,
.search-hotel button[type="submit"]:focus {
  background-color: #669ec0;

}

.search-hotel button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.search-hotel .calendar,
.search-hotel .plus,
.search-hotel .minus {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border:none;
}

.calendar svg {
  fill: #cacaca;
}

.calendar:hover svg,
.calendar:focus svg {
  fill: #000;
}

.calendar:active svg {
  fill: #81b3d2;
}

.plus,
.minus {
  color: #cacaca;
}

.plus:hover, .plus:focus,
.minus:hover, .minus:focus {
  color: #000;
}

.plus:active,
.minus:active {
  color: #81b3d2;
}

.hashtag-sedona {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.social-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social-buttons a,
.social-buttons a:visited {
  color: #fff;
  background-color: #81b3d2;

}

.social-buttons a:hover,
.social-buttons a:focus {
  background-color: #669ec0;
}

.social-buttons a:active {
  background-color: #5496bd;
}

.social-buttons a:active svg{
  opacity: 0.3;
}

.copyright {
  line-height: 15px;
  text-align: center;
}

.copyright-logo svg,
.copyright-logo:visited svg {
  fill: #231f20;
}

.copyright-logo:hover svg,
.copyright-logo:focus svg {
  fill: #81b3d2;
}

.copyright-logo:active svg {
  fill: #bdbbbc;
}

.filters {
  color: #fff;

  background: #28353c url(../img/filter-background.jpg) no-repeat 0 0;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.filters-form label {
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}

.filters-form input[type="text"] {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;

  background-color: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

.filters-form button[type="submit"] {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;

  background-color: transparent;
  border: 2px solid #fff;
}

.hotel-list {
  color: #000;

  background-color: #fff;
}

.hotel-list .hotel-list-header {
  border-bottom: 1px solid #ccc;
}

.hotel-list-header .hotel-list-results{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-list-results-filter span {
  font-size: 12px;
  line-height: 18px;
}

.filter-by-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item {
  font-size: 12px;
  line-height: 18px;
}

.filter-item a,
.filter-item a:visited {
  color: rgba(0, 0, 0, 0.3);
}

.filter-item a.active,
.filter-item a.active:visited {
  color: #81b3d2;
}

.filter-item a:hover,
.filter-item a:focus {
  color: #81b3d2;
  text-decoration: underline;
}

.filter-item a:active {
  color: #000;
}

.hotel-element {
  color: #000;

  background-color: #fff;
  border: 1px solid #ccc;
}

.hotel-element .hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name,
.hotel-name:visited {
  color: #000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active{
  color: rgba(0,0,0, 0.3);
}

.hotel-element span {
  font-size: 12px;
  color: #333;
}

.hotel-element a {
  font-weight: 700;
  color: #fff;
}

.information-btn,
.information-btn:visited {
  background-color: #81b3d2;
}

.information-btn:hover,
.information-btn:focus {
  background-color: #669ec0;
}

.information-btn:active {
  color: rgba(255,255,255, 0.3);
  background-color: #5496bd;
}

.booking-btn,
.booking-btn:visited {
  background-color: #766357;
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: #604e43;
}

.booking-btn:active {
  color: rgba(255,255,255, 0.3);
  background-color: #503e33;
}

.hotel-raiting-number {
  color: #666;

  background-color: #f2f2f2;
}



